fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
pydantic[email]
python-dotenv
psycopg2-binary
alembic
lightfm
scikit-surprise
numpy<2
scipy
joblib
pandas
requests
email-validator

fastapi==0.104.1
uvicorn[standard]==0.24.0
sqlalchemy==2.0.23
pydantic==2.5.0
pydantic-settings==2.1.0
pydantic[email]==2.5.0
python-dotenv==1.0.0
psycopg2-binary==2.9.9
alembic==1.13.0
git+https://github.com/lyst/lightfm.git@master
numpy
scipy
scikit-learn
joblib

